body {
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: rgba(158, 158, 158, 0.68);
}
.paperStyle {
  width: 70vw;
  padding: 10px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}
.addIcon {
  position: absolute;
  bottom: 85px;
  right: 20px;
}
